{% extends "base.html" %}

{% block title %}ADMIN!{% endblock %}

{% block content %}

<body>
    <h1>Admin Panel</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td> <!-- User ID -->
                <td>{{ user.username }}</td> <!-- Username -->
                <td>{{ "Enabled" if user.is_enabled else "Disabled" }}</td> <!-- User Status -->
                <td>
                    <form method="post" action="{{ url_for('enable_disable_user', user_id=user.id) }}">
                        <button type="submit" class="enable-disable-button">
                            {% if user.is_enabled %}
                            Disable
                            {% else %}
                            Enable
                            {% endif %}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('home') }}">Back to Home</a>

    <h2>Overview of Users Currently Logged In:</h2>
    <ul>
        {% for user in logged_in_users %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}