<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
        integrity="sha384-HtMZLkYo+pR5/u7zCzXxMJP6QoNnQJt1qkHM0EaOPvGDIzaVZbmYr/TlvUZ/sKAg" crossorigin="anonymous">
</head>

<body class="bg-gray-100">
    <header class="bg-blue-500 text-white p-4">
        <nav class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl">APPNAME!!</h1>
            <ul class="space-x-4">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% if 'username' in session %}
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href= "/code">Vulnerable Server Code</a></li>
                <li><a href= "/solution">Solution to Vulnerable Server</a></li>
                <li>
                    <img src="{{ url_for('static', filename='uploads/' + g.user.profile_picture) }}"
                        alt="Profile Picture" class="h-32 w-32 rounded-full">
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container mx-auto p-4">
        {% block content %}{% endblock %}
    </main>
</body>

</html>